<div class="mt-3">
    <hr/>
    <h2 class="text-center mt-3">Available Books</h2>
    <hr/>
    <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-center">Id</th>
            <th scope="col" class="text-center">Bookname</th>
            <th scope="col" class="text-center">Author</th>
            <th scope="col" class="text-center">Category</th>
            <th scope="col" class="text-center">Price</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col" class="text-center">Operation</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of allBooks">
                <th scope="row" class="text-center" >{{book.id}}</th>
                <td scope="col" class="text-center" >{{book.bookName}}</td>
                <td scope="col" class="text-center" >{{book.author}}</td>
                <td scope="col" class="text-center" >{{book.category}}</td>
                <td scope="col" class="text-center" >{{book.price}}</td>
                <td scope="col" class="text-center" >{{book.quantity}}</td>
                <td scope="col" class="text-center">
                    <button class="btn btn-warning" (click)="onUpdate(book.id)">Update</button>
                </td>
              </tr>
        </tbody>

      </table>
  </div>
