<div class="container-fluid">
  <form class="d-flex" (ngSubmit)="search()">
    <input class="form-control me-2" type="search" [(ngModel)]="searchText" placeholder="Search Email" name="email" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Roles</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of newUsers">
          <th scope="row">{{user.id}}</th>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>
              {{user.userRole}}
          </td>
          <td>
              <button class="btn btn-warning" (click)="onUpdate(user.id)">Update</button>
              <!-- <button class="btn btn-danger ms-2">Delete</button> -->
          </td>
        </tr>
        
      </tbody>
    </table>
</div>