<div *ngIf="msgInfo.msg;" class="alert alert-{{msgInfo.status}} alert-dismissible  fade show" role="alert">
    {{msgInfo.msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="container-fluid bg-dark">
      
    <form class="card p-2 " (ngSubmit)="onsubmit()" >
      <h1 class=" my-4 text-dark">Register</h1>
      <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" [(ngModel)]="username" name="username" class="form-control" id="username">
        </div>
      <div class="mb-3">
        <label for="email1" class="form-label">Email address</label>
        <input type="email" [(ngModel)]="email" class="form-control" name="email1" id="email1">
      </div>
      <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input type="password" [(ngModel)]="password" class="form-control" name="password1" id="password1">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" [(ngModel)]="phone" class="form-control" name="phone" id="phone">
      </div>
      <button *ngIf="!loading; else elseBlock" type="submit" class="btn btn-dark">Submit</button>
      <ng-template #elseBlock>
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </ng-template>
    </form>
  </div>